.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img{
    border-radius: 10px;
    border: 3px solid black;
    outline: none;
}

.hero-content{
    margin-top: 2rem;
    width: 500px;
    padding: 2rem;
}

.hero-content p {
    text-align: justify;
}